.button {
  padding: 10px;
  position: relative;
  background: transparent;
  font-size: 14px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  transition: background 0.3s, color 0.3s;
}

.button:after {
  content: ' ';
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  position: absolute;
  border: 1px solid transparent;
}

.button:hover,
.button.pseudo-hover {
  background: #f2f2f2;
  border-color: #b3b3b3;
}

.button:active,
.button.pseudo-active {
  background: #e6e6e6;
}

.button:disabled,
.button.pseudo-disabled {
  background: #eee;
  color: #aaa;
  box-shadow: none;
}

.button:focus:after,
.button.pseudo-focus:after {
  border-color: rgba(22, 122, 198, 0.4);
}

.button--primary {
  background: #167ac6;
  color: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.button--primary:hover,
.button--primary.pseudo-hover {
  background: #2895e7;
  color: #fff;
  border-color: transparent;
}

.button--primary:active,
.button--primary.pseudo-active {
  background: #136caf;
  color: #fff;
  border-color: transparent;
}

.button--circular {
  width: 50px;
  height: 50px;
  background: #167ac6;
  fill: #fff;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.button--circular:hover,
.button--circular.pseudo-hover {
  background: #2895e7;
  color: #fff;
  border-color: transparent;
}

.button--circular:active,
.button--circular.pseudo-active {
  background: #136caf;
  color: #fff;
  border-color: transparent;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: lato;
}

h2 {
  padding: 0 10px;
}

section {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  flex: 1;
}

.title {
  padding: 10px 0;
  font-size: 12px;
}