$blue: #167ac6;
$shadow: 0 3px 12px rgba(0, 0, 0, .23), 0 3px 12px rgba(0, 0, 0, .16);

.button{
	padding: 10px;
	position: relative;
	background: transparent;
	font-size: 14px;
	color: lighten(#000, 50);
	text-decoration: none;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	outline: none;
	transition: background .3s, color .3s;
	// &:hover{
	// 	background: lighten($blue, 40);
	// 	color: lighten(#000, 25);
	// }
	// &:active{
	// 	background: lighten($blue, 25);
	// 	color: lighten(#000, 25);
	// }
	// &:disabled{
	// 	background: #eee;
	// 	color: #aaa;
	// 	box-shadow: none;
	// }
	// &:focus{
	// 	border-color: $blue;
	// }
	&:after{
		content: ' ';
		top: -4px;
		bottom: -4px;
		left: -4px;
		right: -4px;
		position: absolute;
		border: 1px solid transparent;
	}
	&:hover{
		background: darken(#fff, 5);
		border-color: darken(#fff, 30);
	}
	&:active{
		background: darken(#fff, 10);
	}
	&:disabled{
		background: #eee;
		color: #aaa;
		box-shadow: none;
	}
	&:focus:after{
		border-color: rgba($blue, .4);
		// outline: 1px solid rgba($blue, .2);
	}
}
.button--primary{
	background: $blue;
	color: #fff;
	box-shadow: $shadow;
	&:hover{
		background: lighten($blue, 10);
		color: #fff;
		border-color: transparent;
	}
	&:active{
		background: darken($blue, 5);
		color: #fff;
		border-color: transparent;
	}
}
.button--circular{
	width: 50px;
	height: 50px;
	background: $blue;
	fill: #fff;
	color: #fff;
	border-radius: 50%;
	box-shadow: $shadow;
	&:hover{
		background: lighten($blue, 10);
		color: #fff;
		border-color: transparent;
	}
	&:active{
		background: darken($blue, 5);
		color: #fff;
		border-color: transparent;
	}
}
